<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Framework</title>
    <style>
        .tag {
            display: flex;
            width: 400px;
            height: 60px;
            background-color: rosybrown;
        }
        .tag p {
            margin-top: 20px;
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>
    <p>Atthawut</p>
    <h3>Django Framework Tutorial</h3>
    <h2>{{ name }}</h2>
    <h2>{{ author }}</h2>
    <div class="tag">
        <h3>Tags</h3>
        {%for tag in tags%}
        <p>{{tag}}</p>
        {%endfor%}
    </div>
</body>
</html>